@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css';


/* Map container fix */
.leaflet-container {
  height: 100vh !important;
  width: 100% !important;
}

/* Custom scrollbar */
.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}
.overflow-y-auto::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 3px;
}
